@import "../../style/vars";
.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        background-color: $body-color;
        border-radius: 10px;
        flex: 0.8;
        box-shadow: 2px 4px 10px 1px $dark-font-color;
        padding: 20px;
        position: relative;

        .editButton {
          position: absolute;
          top: 5px;
          left: 5px;
          padding: 5px;
          font-size: 12px;
          cursor: pointer;
        }

        .card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }

        .card-name {
          font-size: 18px;
          font-weight: bold;
          color: $header-color;
        }

        .card-image {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
        }

        .card-details {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;

          .card-label {
            font-size: 14px;
            font-weight: bold;
            color: $primary-color;
          }

          .card-value {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }

      .right {
        flex: 2;
      }
    }

    .bottom {
      background-color: $body-color;
      box-shadow: 2px 4px 10px 1px $dark-font-color;
      padding: 20px;
      margin: 10px 20px;

      .warning {
        display: flex;
        align-items: center;
        background-color: $header-color;
        color: #ffffff;
        padding: 10px;
        border-radius: 4px;
      }

      .warning-icon {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
      }

      .warning-message {
        font-size: 16px;
      }
    }

    .title {
      font-weight: bold;
      font-size: 14px;
      color: $header-color;
      margin-bottom: 20px;
    }
  }
}
