@import "/src/style/vars";
.app.dark {
  background-color: #212529;
  color: rgb(156, 156, 156);

  .chart {
    .chartGrid {
      stroke: rgba(228, 228, 228, 0.219);
    }
  }

  .navbar {
    color: $dark-primary;
    border-color: $hover-color;

    .search {
      border-color: $dark-secondary;
    }
  }

  .sidebar {
    background-color: #212529;
    border-color: $hover-color;

    .top {
      .logo {
        color: $dark-primary;
      }
    }
    hr {
      border-color: $hover-color;
    }

    ul {
      li {
        &:hover {
          background-color: $hover-color;
        }
        span {
          color: $dark-primary;
        }
        i {
          color: $dark-primary;
        }
      }
    }
  }

  .table {
    .p-datatable-thead > tr > th,
    .p-datatable-tbody > tr {
      background-color: #212529;
    }
    .p-datatable-tbody > tr > td,
    .p-datatable-thead > tr > th {
      color: $dark-secondary;
    }
    .p-column-title {
      color: $dark-primary;
    }
  }

  .datatable {
    .p-datatable-thead > tr > th,
    .p-datatable-tbody > tr {
      background-color: #212529;
    }
    .p-datatable-tbody > tr > td,
    .p-datatable-thead > tr > th {
      color: $dark-secondary;
    }
    .p-paginator {
      background-color: #212529;
    }
  }

  .featured {
    .bottom {
      .title {
        color: $dark-primary;
      }
      .desc {
        color: $dark-primary;
      }

      .summary {
        .item {
          .itemTitle {
            color: $secondary-color;
          }
        }
      }
    }
  }

  .single {
    .singleContainer {
      .top {
        .left {
          .item {
            .details {
              .itemTitle {
                color: $dark-primary;
              }
            }
          }
        }
      }
    }
  }

  input {
    background-color: transparent;
    color: $dark-secondary;
  }
}
