@import "../../../style/vars";
.chart {
  flex: 4;
  box-shadow: 2px 4px 10px 1px $dark-font-color;
  padding: 5px;
  color: $header-color;
  background-color: $body-color;
  border-radius: 10px;
  .rangeClass {
    border: 1px solid $body-color;
    padding: 20px;
    border-radius: 10px;
    background-color: $home-color;
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 50px;
    h6 {
      margin-top: 15px;
    }
    .p-datepicker {
      direction: ltr;
    }
  }
  .title {
    margin-bottom: 20px;
    font-weight: bold;
    padding: 15px;
    font-size: 14px;
    color: $header-color;
  }

  .spinner {
    margin-top: 140px;
  }
}
