@import "../../../style/vars";
.featured {
  flex: 2;
  box-shadow: 2px 4px 10px 1px $dark-font-color;
  padding: 10px;
  background-color: $body-color;
  border-radius: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $dark-secondary;

    .title {
      margin: 10px;
      font-weight: bold;
      font-size: 14px;
      color: $header-color;
    }
  }
  .rangeClass {
    margin-top: 80px;
    display: block;
    border-radius: 10px;
    text-align: center;
    h6 {
      margin-top: 12px;
    }
    .submit {
      width: 20%;
      margin-top: 20px;
    }
    .p-datepicker {
      direction: ltr;
    }
  }

  .spinner {
    margin-top: 120px;
  }
  .bottom {
    .lock-icon{
      font-size: 80px;
      color: crimson;
    }
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-weight: 900;
      color: $header-color;
    }
    .amount {
      font-size: 20px;
    }
  }
}
