@import "../../style/vars";
.roles {
  .multiselect-container {
    // .optionListContainer {
    //   z-index: 99;
    // }
    .searchBox:hover {
      cursor: pointer;
    }
    .searchBox {
      width: 100%;
    }
    .chip {
      background-color: $primary-color;
      color: $nav-color;
      font-weight: bolder;
      font-size: 15px;
      padding: 10px;
      .icon_cancel {
        margin: 2px 5px 5px 5px;
        width: 18px;
        height: 16px;
      }
    }
    .option,
    .notFound {
      color: $primary-color;
      background-color: inherit;
      &:hover {
        color: $header-color; 
      }
    }
    .optionListContainer {
      width: 100%;
    }
  }
}
