@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    font-family: "Droid Arabic Naskh", Tahoma, Geneva, Verdana, sans-serif;
  }