@import "./style/vars";
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  font-family: "Droid Arabic Naskh", sans-serif;
  transition: background 0.2s;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $dark-font-color;
}
::selection {
  color: #eee;
  background: #86898d;
}
body {
  background-color: $home-color;
}
